*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main {
    background-image: url( https://www.nitnagaland.ac.in/templates/g5_helium/custom/images/Gallery/GalMainBuilding.JPG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
/* preloader */
.loader-wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

/* preloderend */
.rowStyle
{  
     padding: 2rem;
     border-radius: 2rem;
     /* background-color: white; */
      background-image: url(https://st3.depositphotos.com/1561359/18041/i/1600/depositphotos_180416976-stock-photo-white-geometric-background.jpg);
         background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: -12px -1px 18px -2px rgba(124,130,235,1);
-moz-box-shadow: -12px -1px 18px -2px rgba(124,130,235,1);
box-shadow: -12px -1px 18px -2px rgba(124,130,235,1);
 
}
.loginForm  
{
    
     border-radius: 2rem;
    padding: 2rem;
    margin-top: 2rem;
    background-color: white;
    background-image: url(https://img.freepik.com/free-vector/abstract-texture-background_91008-369.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .2s; /* Animation */
    
}
.loginForm:hover
{
     transform: scale(1.1); 
      box-shadow:5px 5px 25px -5px rgba(0,0,0,0.5)
}

@media  (max-width: 991px) {
    .row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
}
.row
    {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .navbar
    {
        background-color:transparent;
    }
    .nav-item a:hover
    {
        color:orange;
    }
    .active {
    border-bottom: 1px solid #565387;
    font-weight:bold; 
    color:#3498db !important;
}

.typed-out{
  overflow: hidden;
        border-right: .20rem solid orange;
        border-radius: 2px;
        white-space: nowrap;
        animation: 
          typing 4s steps(20, end) forwards,
          blinking 1.2s infinite;
        font-size: 2.5rem;
        width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
      from { border-color: transparent }
      to { border-color: blue; }
    }
  